.signin {
    width: 100%;
    height: 93svh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    /* padding: 5vh 0; */
}

._card {
    transition: all 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 1vh;
    height: 60vh;
    width: 80vw;
    max-width: 50vh;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

._card:hover {
    scale: 1.03;
}

._card h1 {
    font-size: 4.5vh;
    margin: 2vh 0;
    text-align: center;
}

._card button {
    transition: all 300ms;
    font-size: 3vh;
    color: white;
    background-color: rgb(72, 73, 71);
    border: none;
    height: 8vh;
    width: 16vh;
    margin: 5vh 0;
    border-radius: 1vh;
    cursor: pointer;
}

._card button:hover{
    background-color: rgb(0, 0, 0);
    color:white;
}

.imgc {
    height: 40%;
    width: 50%;
}

.imgc img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}