
.wraper {
    display: flex;
    align-items: center;
    justify-content: center ;
}

.options {
    transition: all 300ms;
    height: min(30vw,100px);
    width: min(30vw,100px);
    border: none;
    margin: min(3vw,10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    border-radius: 10%;
}

.options:hover {
    color: white;
    background-color: black;
}

.bar {
    position: relative;
    height: 5px;
    top: -10px;
    width: min(20vw,70px);
    margin-top: 1vh;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.3s;
}

._L {
    left: max(-33vw,-120px);
}
._M {
    left: 0;
}
._R {
    left: min(33vw,120px);
}

.icon {
    height: 40%;
    width: 40%;
}

.fuellogo {
    transform: translateX(11%);
}

.bg {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
}