
.wraper {
    display: flex;
    align-items: center;
    justify-content: center ;
}

.options {
    height: min(30vw,100px);
    width: min(30vw,100px);
    border: none;
    margin: min(3vw,10px);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* border-bottom: 6px solid black; */
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.25); */
    border-radius: 10%;
}

.bar {
    position: relative;
    height: 5px;
    width: 20vw;
    background-color: black;
    border-radius: 5px;
    transition: all 0.3s;
}

._L {
    left: -30vw;
}
._M {
    left: 0;
}
._R {
    left: 30vw;
}

.icon {
    height: 40%;
    width: 40%;
}

.fuellogo {
    transform: translateX(11%);
}