@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    margin-top: 7vh;
}