.main{
    display: flex;
    position: relative;
    flex-direction: row;
    width: max(60vw,200px);
    height: max(60vh , 400px);
    background-color: black;
    border: 4px solid black;
    border-radius: 2em;
    padding: 15px;  
}



.content{
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    

}

.content::-webkit-scrollbar {
    display: none;
  }
.content-child{
    margin: 3px 5px;
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 90%;
    border-radius: 1em;
}

.content-child-name{
    padding-left: 12px;
    font-size: 1.5em;
}

.content-child-address{
    margin-top: 3px;
    padding: 0px 15px;
}

.content-child-distance{
    padding-left: 10px;
}

.content-child-time{
    padding-left: 20px;
}

.content-image{
        position: absolute;
        right: -25%;
        top:5%;
}

.image{
    border: 2px solid rgb(134, 132, 132);
    border-radius: 2em;
    width: 50%;
}