.content{
    color: white;
    position: relative;
    margin-top: 10px;
    width: max(60vw,200px);
    height: max(60vh , 400px);
    background-color: black;
    border: 4px solid black;
    border-radius: 2em;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow-y:scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    

}

.content::-webkit-scrollbar {
    display: none;
  }
.content-child{
    margin: 3px 5px;
    background-color: rgb(68, 62, 62);
    height: 60px;
    width: 50%;
    border-radius: 8px;
}

.content-child-name{
    padding-left: 12px;
    font-size: 1.5em;
}

.content-child-address{
    margin-top: 3px;
    padding: 0px 15px;
}

.content-child-distance{
    padding-left: 10px;
}

.content-child-time{
    padding-left: 20px;
}

.content-image{
    position: absolute;
    right: -30%;
}

.image{
    border: 2px solid rgb(134, 132, 132);
    border-radius: 2em;
    width: 50%;
}