.locInput {
    width: min(270px,72vw);
    height: 40px;
    border-radius: 5px;
    /* border: none; */
    outline: none;
    font-size: 2.5vh;
    text-indent: 1vh;
}

.live {
    margin: 1vh;
    /* border: 2px solid blue; */
    width: min(270px,72vw);
    height: 40px;
    border-radius: 5px;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: blue; */
}

.location {
    width: min(300px,80vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    /* width: min(90vw,300px); */
    /* border: 1px solid black; */
}

.pin {
    height: 4vh;
    width: 5vh;
}